div(style="margin-top:1rem")
.container
  form.form-inline
    .form-group
      label Group by:
      select.form-control(ng-model="$parent.selectedGrouping",ng-options="group for group in availableGroupings")
    button.btn.btn-sm(ng-click="expandAll()"): span.glyphicon.glyphicon-plus
    button.btn.btn-sm(ng-click="collapseAll()"): span.glyphicon.glyphicon-minus
  ul(infinite-scroll="scroll()",infinite-scroll-distance="2")
    li(ng-repeat="group in visibleGroups")
      a(href="#",ng-click="group.open=!group.open") {{group.name}}
      table.table.table-striped.table-hover.table-bordered(ng-show="group.open")
        tr: th(ng-repeat="var in vars") {{var}}
        tr(ng-repeat="binding in group.bindings"): td(ng-repeat="var in vars") {{binding[var].value}}
