.ui.page.grid
  .column
    h1.ui.header.center.aligned (Visual) SPARQL query tool
    #shareicondiv
        i#shareicon.share.icon(ng-click="shareLink()")
    div.ui.form
        div.field(ng-class="{ 'error': !sparqlEndpointInputValid }")
            label SPARQL endpoint
            input(ng-model="sparqlEndpoint",type="text")
        div(id="yasqe")
    div(id="yasr")