doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    // build:css(app) styles/vendor.css
    // bower:css
    // endbower
    link(href="bower_components/semantic-ui/build/packaged/css/semantic.css" rel="stylesheet")
    link(href="scripts/yasqe/yasqe.min.css" rel="stylesheet")
    link(href="scripts/yasr/yasr.min.css" rel="stylesheet")
    // endbuild

    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    title visu
    
  body(ng-app="app")
    main(ui-view="")
    script(src="https://www.google.com/jsapi")
    script(type="text/javascript").
        google.load('visualization', '1.0', {'packages':['corechart','annotationchart','calendar','gauge','geochart','map','orgchart','sankey','table','timeline','treemap','charteditor']});
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    // endbower
    script(src="scripts/yasqe/yasqe.js")
    script(src="scripts/yasr/yasr.js")
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/yasr-gchart/yasr-gchart.js")
    script(src="scripts/yasr-kml/yasr-kml.js")
    script(src="scripts/visu.js")
    script(src="scripts/main/main-ctrl.js")
    // inject:partials
    // endinject
    // endbuild
 
