doctype html
html(lang="en",ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    // build:css(app) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/semantic/dist/semantic.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/bootstrap-colorpicker/css/colorpicker.css')
    link(rel='stylesheet', href='bower_components/codemirror/lib/codemirror.css')
    // endbower
    link(rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic|Lato:400,700,900|Open+Sans:400,300,600,700,800|Roboto+Slab:400,300,100,700|Roboto:400,100,300,500,700,900&subset=latin,latin-ext')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='bower_components/raw/css/raw.css')
    link(href="bower_components/yasqe/dist/yasqe.css" rel="stylesheet")
    link(href="bower_components/yasr/dist/yasr.css" rel="stylesheet")
    // endbuild

    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    title visu

  body
    main(ui-view="")
    script(src="https://www.google.com/jsapi")
    script(src="https://maps.googleapis.com/maps/api/js")
    script(type="text/javascript").
        google.load('visualization', '1.0', {'packages':['corechart','annotationchart','calendar','gauge','geochart','map','orgchart','sankey','table','timeline','treemap','charteditor']});
    // build:js(app) scripts/vendor.js
    script(src='bower_components/jquery/dist/jquery.js')
    // bower:js
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/semantic/dist/semantic.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/yasqe/dist/yasqe.bundled.min.js')
    script(src='bower_components/yasr/dist/yasr.bundled.min.js')
    script(src='bower_components/d3/d3.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-strap/dist/angular-strap.min.js')
    script(src='bower_components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='bower_components/jquery-ui/ui/jquery-ui.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(src='bower_components/FileSaver/FileSaver.js')
    script(src='bower_components/zeroclipboard/ZeroClipboard.js')
    script(src='bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js')
    script(src='bower_components/codemirror/lib/codemirror.js')
    script(src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js')
    // endbower
    // kludge to make sure d3 is not overwritten
    script YASR(null,{})
    script(src='bower_components/d3/d3.js')
    script(src="bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js")
    script(src="bower_components/angular-ui/build/angular-ui.min.js")
    script(src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js")
    script(src="bower_components/d3-plugins/sankey/sankey.js")
    script(src="bower_components/d3-plugins/hexbin/hexbin.js")
    script(src="bower_components/canvas-toBlob.js/canvas-toBlob.js")
    script(src='bower_components/raw/lib/raw.js')
    script(src='bower_components/raw/charts/treemap.js')
    script(src='bower_components/raw/charts/streamgraph.js')
    script(src='bower_components/raw/charts/scatterPlot.js')
    script(src='bower_components/raw/charts/packing.js')
    script(src='bower_components/raw/charts/clusterDendrogram.js')
    script(src='bower_components/raw/charts/voronoi.js')
    script(src='bower_components/raw/charts/delaunay.js')
    script(src='bower_components/raw/charts/alluvial.js')
    script(src='bower_components/raw/charts/clusterForce.js')
    script(src='bower_components/raw/charts/convexHull.js')
    script(src='bower_components/raw/charts/hexagonalBinning.js')
    script(src='bower_components/raw/charts/reingoldTilford.js')
    script(src='bower_components/raw/charts/parallelCoordinates.js')
    script(src='bower_components/raw/charts/circularDendrogram.js')
    script(src='bower_components/raw/charts/smallMultiplesArea.js')
    script(src='bower_components/raw/charts/bumpChart.js')
    script(src="bower_components/raw/js/controllers.js")
    script(src="bower_components/raw/js/services.js")
    script(src="bower_components/raw/js/directives.js")

    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/visu.js")
    script(src="scripts/yasr-raw/yasr-raw.js")
    script(src="scripts/yasr-gmaps/yasr-gmaps.js")
    script(src="scripts/yasr-kml/yasr-kml.js")
    script(src="scripts/yasr-grouped/yasr-grouped.js")
    script(src="scripts/main/main-ctrl.js")
    // inject:partials
    // endinject
    // endbuild
