doctype html
html(lang="en",ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    // build:css(app) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/semantic-ui/dist/semantic.css')
    // endbower
    link(href="bower_components/yasqe/dist/yasqe.css" rel="stylesheet")
    link(href="bower_components/yasr/dist/yasr.css" rel="stylesheet")
    // endbuild

    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    title visu

  body
    main(ui-view="")
    script(src="https://www.google.com/jsapi")
    script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
    </script>
    script(type="text/javascript").
        google.load('visualization', '1.0', {'packages':['corechart','annotationchart','calendar','gauge','geochart','map','orgchart','sankey','table','timeline','treemap','charteditor']});
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/semantic-ui/dist/semantic.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/yasqe/dist/yasqe.bundled.min.js')
    script(src='bower_components/yasr/dist/yasr.bundled.min.js')
    // endbower
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/yasr-gmaps/yasr-gmaps.js")
    script(src="scripts/yasr-kml/yasr-kml.js")
    script(src="scripts/visu.js")
    script(src="scripts/main/main-ctrl.js")
    // inject:partials
    // endinject
    // endbuild

