.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail {
  height: 200px;
}
.thumbnail img.pull-right {
  width: 50px;
}
.modal-dialog {
  z-index: 10;
}
i.icon {
  opacity: 1;
  color: #333;
  margin: 0em auto 0.25em;
  font-size: 2em;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
i.icon:hover {
  color: #009fda;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
#shareicondiv {
  width: 100%;
  text-align: right;
}
#shareicon {
  display: inline-block;
}
#gmap {
  width: 640px;
  height: 400px;
}
